<div class="jumbotron">
  <h1 class="display-4">OkayReads</h1>
  <p class="lead">Meet your next decent book.</p>
  <hr class="my-4">
  <p>Deciding what to read? You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
  <a class="btn btn-primary btn-lg" href="/books" role="button">Look now</a>
</div>